<fieldset class="nonpersonal-confirmation">
  <legend>Keep these entries non-personal</legend>
  <p id="nonpersonal-note">Use fictional or generic details, like “Algebra practice.” Don’t include real names, school names, email addresses, phone numbers, student IDs, or details that identify anyone.</p>
  <label><input type="checkbox" name="nonpersonal_confirmed" value="yes" required autocomplete="off"> <span>I confirm that these entries contain no personal or identifying information.</span></label>
</fieldset>
